@font-face{
    font-family: myFirstFont;
    src: url(Roboto/Roboto-BoldItalic.ttf);
}

@font-face{
    font-family: BodyFont;
    src: url(Roboto/Roboto-Regular.ttf);
}

::selection{
    background-color:darkgray;
    color: white;
    
}

body{
    font-family: sans-serif;
     color: darkcyan;
}

header{
    text-align: center;
}


.home{
    width: 80%;
    min-width: 500px;
    margin: auto;
}

img{
    width: 100%;
   
}

.info{
    width: 80%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    
}

h1{
    
    font-size: 70px;
    font-family: BodyFont;
    color:burlywood;
}


h3{
    font-size: 35px;
    
}

                        /*This section deals with the who we are question*/

/*Text Response*/
.question1{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    text-align: justify;
    font-family: BodyFont;
    line-height: 50px;
    
}

.question1 .content{
    padding: 52px;
}

#lake{
    width: 800px;
    height: 800px
}
/* Text Question*/
#question1{
    text-align: center;
    font-size: 150px;
    font-family:sans-serif;
        
}


                                                /*This section deals with the who we are not quiestion*/
/*Text of the response*/
.section2{                  
    display: flex;
    justify-content: space-between;
    font-family: BodyFont;
    font-size: 30px;
    text-align: justify;
    line-height: 50px
}

/*Text Question*/
#question2{
    
     text-align: center;
    font-size: 75px;
    font-family:sans-serif;
}

#image2{
    width: 800px;
    height: 800px;
}

/*Elements distribution*/
.section2 .response2 {
    
    padding: 50px;
}

                                                 /*This section deals with the what we do*/

/*Text Question*/
#question3{
    text-align: center;
    font-size: 75px;
    font-family: BodyFont;
    
}

.section3{
    display: flex;
    font-size: 30px;
    line-height: 50px;
    font-family: BodyFont;
    text-align: justify;
    
}

#image3{
    width: 800px;
    height: 800ps;
}

.section3 .response3{
    padding: 50px;
}






































































